{{define "page"}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>Сhange post</title>
        {{ template "Resources"}}
        {{ template "JS"}}
    </head>

    <body>
    <div class="uk-container">
        <h1>Сhange post</h1>
        <form action="/chgangetPost" method="post" enctype="application/x-www-form-urlencoded">
            <fieldset class="uk-fieldset">

                <div class="uk-margin">
                    <input class="uk-input" value="{{.Title}}" name="Title" type="text" placeholder="Title">
                </div>


                <div class="uk-margin">
                    <textarea class="uk-textarea"  name="Text" rows="5" placeholder="Text">{{.Text}}</textarea>
                </div>
                <input name="Id" type="hidden" value="{{.Id}}">
                <button class="uk-button uk-button-default">Submit</button>
            </fieldset>

        </form>
    </div>
    </body>

    </html>
{{ end }}



{{ define "JS" }}
    <script>
        window.onload = async () =>{
            let checkBoxes = document.querySelectorAll('input')
            for (checkBox of checkBoxes){
                checkBox.onclick = async function() {
                    let taskID = this.getAttribute('task-id')
                    let taskCompleted = this.checked

                    let resp = await fetch(`${taskID}/${taskCompleted}`, {method: "POST"})
                    let data = await resp.json()
                    console.log(data)
                    window.location.reload()
                }
            }
        }
    </script>

{{ end }}


{{ define "Resources"}}
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.4.1/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.1/dist/js/uikit-icons.min.js"></script>
{{ end }}